body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
header {
    background-color:#000;
    color: white;
    padding: 15px;
    text-align: center;
main {
    flex: 1; /* ดัน footer ลงล่าง */
    padding: 20px;
}
}
footer {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}
footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
    transition: 0.7s;
}

footer a:hover {
    text-decoration: none;
    color: #a2a2a2;
}
iframe {
    width: 100%;
    border: none;
}

/* header */
.header-frame {
    height: 150px; /* ปรับตามความสูง header */
}

/* footer */
.footer-frame {
    height: 120px; /* ปรับตาม footer */
}